<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/header'); -%>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script type="text/javascript">
    function enable_submit_button() {
      document.getElementById("sendMessageButton").disabled = false
    }
  </script>
</head>

<body>

  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg'); height:25pc">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contactez Moi</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Si vous souhaitez me contacter veuillez utiliser le formulaire suivant : </p>
        <form action="/pages/contact" method="POST" id="contactForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Name</label>
              <% if(nameError) { %>
                <p class="help-block text-danger"><%= nameError %></p>
              <% } %> 
              <input name="name" type="text" class="form-control" placeholder="Nom" id="name" required data-validation-required-message="Please enter your name." value="<%= name %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <% if(emailError) { %>
                <p class="help-block text-danger"><%= emailError %></p>
              <% } %> 
              <input name="email" type="email" class="form-control" placeholder="Addresse Email" id="email" required data-validation-required-message="Please enter your email address." value="<%= email %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Phone Number</label>
              <% if(numberError) { %>
                <p class="help-block text-danger"><%= numberError %></p>
              <% } %> 
              <input name="number" type="tel" class="form-control" placeholder="Numéro" id="phone" required data-validation-required-message="Please enter your phone number." value="<%= number %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Message</label>
              <% if(messageError) { %>
                <p class="help-block text-danger"><%= messageError %></p>
              <% } %> 
              <textarea name="message" rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."><%= message %></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div class="g-recaptcha" data-sitekey="6LcLBR8aAAAAAFKv2BPi266wnlKP5vrIlWFiwycx" data-callback="enable_submit_button"></div>
          <br/>
          <input type="submit" class="btn btn-primary" id="sendMessageButton" value="Verify & Submit" disabled></input>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
