<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/header'); -%>
  <% if(locals.createPost && createPost) { %>
    <!-- WSIWYG summernote libraries include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js" defer></script>
  <% } %>  
</head>

<body>
  <%- include('layouts/navbar'); -%> 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Create New Post</h1>
            <span class="subheading">Create a New Post</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--POST method will make browser send POST request to address at the
        which we're reading the webpage from. 
        enctype is the mime value of the form submission.
        multipart/form-data allows to use inputs with file type.
        -->
        <form action="/posts/store" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <!--Input type="text" creates a text box, name is the property we'll be able to 
              access using req.body in index.js-->
              <input type="text" class="form-control" placeholder="title" id="title" name="title" value="<%= title %>">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image</label>
              <!--textarea is similar to input, what is outputed by summernote will be a bunch of formatted html
              so we print it as html. -->
              <textarea id="summernote" rows="5" class="form-control" placeholder="body" name="body"></textarea>
              <% if(imageError) { %>
                <p class="help-block text-danger"><%= imageError %></p>
              <% } %> 
              <input type="file" accept="image/png,image/jpeg" class="form-control" id="image" name="image">
            </div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%> 
  <script>
    $(document).ready(function() {
      $('#summernote').summernote();
    });    
  </script>
  <% if(imageError) { %>
  <script>
     $(document).ready(function() {
      $('#summernote').summernote('editor.pasteHTML', "<%= providedText %>");      
    }); 
  </script>
  <% } %> 
  

</body>

</html>
